<ion-content>

  <ion-card *ngIf="postInfo">
    <ion-card-header>
      <ion-card-title><strong>Post:</strong> {{postInfo.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{postInfo.body}}
    </ion-card-content>

    <ion-card-content *ngIf="this.user">
      <ion-item>
        <ion-label>
          <strong>
            Author:
          </strong>
          <ion-chip (click)="showAutor()">
            <ion-avatar>
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+">
            </ion-avatar>
            <ion-label>{{this.user.username}}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
      
      <ion-text>
        <strong>Important:</strong> resource will not be really updated on the server but it will be faked as if.
      </ion-text>
      
    </ion-card-content>
  </ion-card>

  <ion-list style="width: 80%; margin: auto;" *ngIf="this.commentsList && this.commentsList.length > 0; else noComments">

    <ion-list-header>Comments</ion-list-header>

    <div *ngFor= "let commentItem of this.commentsList; let thisIndex = index">

      <ion-item lines="none">

        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
        </ion-avatar>

        <ion-label>
          <h3 class="ion-text-wrap">{{commentItem.name}}</h3>
          <p class="ion-text-wrap"><strong>{{commentItem.email}}</strong></p>
          <p class="ion-text-justify ion-text-wrap">{{commentItem.body}}</p>
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="updateComment(thisIndex, commentItem.id, commentItem.name, commentItem.email, commentItem.body)">
            <ion-icon name="create-outline"></ion-icon>
            Edit
          </ion-button>

          <ion-button color="danger" (click)="deleteCommentAlert(commentItem.id)">
            <ion-icon name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-buttons>
      </ion-item>

    </div>
  </ion-list>

  <ng-template #noComments>
    <ion-card style="width: 80%; margin: auto;" >
      <ion-card-header class="ion-text-center">
        <ion-card-title>
          No comments
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

  <ion-card style="width: 80%; margin: 10px auto 20px auto;">

    <ion-card-header>
      <ion-card-title>
        Write a comment
      </ion-card-title>  
    </ion-card-header>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input placeholder="name" autocomplete="off" [(ngModel)]="this.newComment.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input placeholder="name@mail.com" autocomplete="off" [(ngModel)]="this.newComment.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Body</ion-label>
      <ion-textarea placeholder="Enter more information here..." rows="6" [(ngModel)]="this.newComment.body"></ion-textarea>
    </ion-item>

    <ion-button expand="full" (click)="createComment()" 
    [disabled]="(this.newComment.name && this.newComment.email && this.newComment.body)? 'false':'true'"
    [color]="(this.newComment.name && this.newComment.email && this.newComment.body)? 'primary' : 'medium'">Comment</ion-button>

  </ion-card>

</ion-content>
