<ion-content >   

  <ion-list style="background-color: transparent; width: 90%; margin:auto">

    <ion-list-header>
        <strong>POSTS:</strong>
    </ion-list-header>

    <ion-item 
      class="item-for-post"
      *ngFor= "let post of this.posts" 
      [routerLink]="['./', post.id]">

      <ion-thumbnail slot="start">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/pencil.png">
      </ion-thumbnail>

      <ion-label> 
        <strong>#{{post.id}}: {{post.title}}</strong>
        <p>
          {{post.body}}
        </p>
      </ion-label>

      <ion-icon name="eye" slot="end"></ion-icon>
          
    </ion-item>
  </ion-list>

</ion-content>
